@import url("http://fonts.googleapis.com/css?family=Manrope");

/* Global Resets */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	/* font-family */
	--body: Manrope;

	/* font-weight */
	--normal: 500;
	--bold: 700;

	/* color */
	--background: hsl(210, 46%, 95%);
	--header: hsl(217, 19%, 35%);

	--text: hsl(212, 23%, 69%);
	--last-section: hsl(214, 17%, 51%);
}

body {
	width: 100vw;
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: var(--body), sans-serif;
	font-size: 13px;
	background-color: var(--background);
}

h5,
h6 {
	color: var(--header);
	font-weight: var(--bold);
}

p {
	color: var(--header);
}

.card {
	border-radius: 15px;
	width: 330px;
}

.card__image {
	border-radius: 15px 15px 0 0;
}

.card__body {
	padding: 35px 25px 15px;
	position: relative;
}

.card__avatar_image {
	width: 16%;
}

.card__tooltips a img,
.card__share_image-c {
	background-color: var(--background);
	padding: 10px;
	border-radius: 50%;
}

/* .card__tooltips a img:hover */
.card__share_image-c {
	background-color: var(--last-section);

}

.tooltip-inner,
.activeLeft {
	background-color: var(--header);
	width: fit-content;
	display: flex;
	align-items: center;
	padding: 15px 35px;
}

.tooltip-inner p,
.activeLeft p {
	color: var(--text);
	margin: 0;
	letter-spacing: 7px;
	font-weight: var(--bold);
	margin-right: 10px;
}

.card__active {
	border-radius: 0 0 15px 15px;
	padding: 15px 25px;
	background-color: var(--header);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	justify-content: space-between;
	display: none;
}

.show {
	display: flex;
}

.attribution {
	text-align: center;
	padding-top: 20px;
	font-size: 15px;
}
.attribution a {
	color: var(--last-section);
	text-decoration: none;
}

/* Media Queries - Responsiveness */
/* LG - Large Screen */
@media only screen and (min-width: 765px) {
	body {
		height: 100vh;
	}
	.card {
		display: flex;
		flex-direction: row;
		width: 700px;
		height: 270px;
	}
	.card__image {
		width: 40%;
		border-radius: 15px 0 0 15px;
	}
	.card__body {
		padding: 35px;
	}
	.card__active {
		display: none;
	}
}

/* @timiodulate css template */
