@import url('http://fonts.googleapis.com/css?family=Manrope');

/* Global Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-family */
    --body: Manrope;

    /* font-weight */
    --normal: 500;
    --bold: 700;

    /* color */
    --background: hsl(210, 46%, 95%);
    --header: hsl(217, 19%, 35%);

    --text: hsl(212, 23%, 69%);
    --last-section: hsl(214, 17%, 51%);
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: var(--body), sans-serif;
    font-size: 13px;
    background-color: var(--background);
}

h5, h6 {
    color: var(--header);
    font-weight: var(--bold);
}
p {
    color: var(--header);
}


.card {
    border-radius: 15px;
    width: 330px;
}
.card-img-top {
    border-radius: 15px 15px 0 0;
}
.card-body {
    padding: 35px 25px 15px;
    position: relative;
}
.avatarImage {
    width: 16%;
}

#myTooltips a img,
.shareImgC {
    background-color: var(--background);
    padding: 10px;
    border-radius: 50%;
}
/* #myTooltips a img:hover,*/
.shareImgC {
    background-color: var(--last-section);
}
.tooltip-inner,
.activeLeft {
    background-color: var(--header);
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 15px 35px;
}
.tooltip-inner p,
.activeLeft p {
    color: var(--text);
    letter-spacing: 7px;
    margin: 0;
    font-weight: var(--bold);
    margin-right: 10px;
}

.active {
    border-radius: 0 0 15px 15px;
    padding: 15px 25px;
    background-color: var(--header);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    display: none;
}
.show {
    display: flex;
}
.activeLeft{
    padding: 0;
}


.attribution { 
    text-align: center;
    padding: 20px;
    font-size: 15px;
}
.attribution a { 
    color: var(--last-section);
    text-decoration: none;
}


/* Media Queries - Responsiveness */
/* LG - Large Screen */
@media only screen and (min-width: 765px) {
    .card {
        display: flex;
        flex-direction: row;
        width: 700px;        
    }
    .card-img-top {
        width: 40%;
        border-radius: 15px 0 0 15px;
    }
    .card-body {
        padding: 35px;
    }
    .active,
    .myTooltips {
        display: none;
    }
    
}

/* @timiodulate css template */