@import url('http://fonts.googleapis.com/css?family=Manrope');

/* Global Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-family */
    --body: Manrope;

    /* font-weight */
    --normal: 500;
    --bold: 700;

    /* color */
    --background: hsl(210, 46%, 95%);
    --header: hsl(217, 19%, 35%);

    --text: hsl(212, 23%, 69%);
    --last-section: hsl(214, 17%, 51%);
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: var(--body);
    font-size: 13px;
    /* background-image: url(../images/bg-intro-desktop.png); */
    background-color: var(--background);
    /* background-blend-mode: screen; */
}

h5, h6 {
    color: var(--header);
    font-weight: var(--bold);
}
p {
    color: var(--header);
}


.card {
    border-radius: 15px;
    width: 330px;
}
.card-img-top {
    border-radius: 15px 15px 0 0;
}
.card-body {
    padding: 35px 25px 15px;
}
.avatarImage {
    width: 16%;
}


.tooltip-inner {
    background-color:;
}
/* Styles for custom tooltip template */
.tooltip-head{
    color: blue;
    background: #000;
    padding: 10px 10px 5px;
    border-radius: 4px 4px 0 0;
    text-align: center;
    margin-bottom: -2px; /* Hide default tooltip rounded corner from top */
}
.tooltip-head .glyphicon{
    font-size: 22px;
    vertical-align: bottom;
}
.tooltip-head h3{
    margin: 0;
    font-size: 18px;
}



.attribution { 
    text-align: center;
    padding: 20px;
}
.attribution a { 
    color: var(--text);
    text-decoration: none;
}



/* Media Queries - Responsiveness */
/* LG - Large Screen */
@media only screen and (min-width: 380px) {
    .card {
        display: flex;
        flex-direction: row;
        width: 700px;        
    }
    .card-img-top {
        width: 40%;
        border-radius: 15px 0 0 15px;
    }
    .card-body {
        padding: 35px;
    }
}

/* MD - Medium Screen */
/* @media only screen and (max-width: 765px) {
    body {
        justify-content: initial;
	height: fit-content;
    }

    footer .footer-container {
        grid-template-columns: 1fr;
        margin-bottom: 20px;
        row-gap: 15px;
    }

    .attribution { 
        font-size: .6rem;
        padding: 20px 10px;
        color: white;
    }
} */

/* SM - Small Screen */
/* @media only screen and (max-width: 576px){

} */


/* @timiodulate css template */